# Build output
public/

# Dependencies
node_modules/

# System files
.DS_Store
.env

# Obsidian files
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.trash/

# But keep attachments
!src/content/attachments/ 